{% extends 'base.html'%}
{% load i18n %}
{% block head_title %}{% trans "M..C..C|About Us" %}{% endblock %}
{% load static %} 

<body id="body"> 
  {% block content %}
  <section class="intro_section page_mainslider ds">
    <div class="flexslider" data-dots="true" data-nav="te">
        <ul class="slides">
            <li> <img src="{% static 'img/picz/nicepicboys.jpg' %}"  alt="one">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                      
                                      <h2  style=" font-size: 50px;
                                      ">CEILINGS</h2>
                                         </div>

                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p > The beauty of your home or office is all that matters. As Mukumba Ceilings we are committed to making your resting and working enviroments look Much More Great.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src=" {% static 'img/shinning1.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                     
                                          <h2 style="background-color:transparent; color:  #444444; font-size: 50px;
                                          ">SHINNING</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p  style="color:#222222;">Walls that are shinned have a unique look and that makes a home feels like Home.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src="{% static 'img/picz/frame.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                      
                                            <h2 style="background-color:transparent; color:  #444444; font-size: 50px;
                                            ">FRAMMING</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p  style="color:#222222;">Our main goal here is to ensure that your beautiful ceilings is attached to a strong frame that guarantees Long Life with no cracks</strong>.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
        </ul>
    </div>
    <div class="para" id="welc">
    <h2>Welcome to <a href="/" class="scrollto"><span>..</span>Mukumba<span>..</span>Ceilings<span>..</span>Company</a> </h2>
    Mukumba Ceilings provides proffessional ceiling designs for home and offices. We offer our services at a reasonably very low prices, so come let's talk.
    </div>
    <section id="about" class="ds ms page_about parallax section_padding_top_130 section_padding_bottom_75 table_section table_section_md columns_margin_bottom_30">
  <div class="img-about">
    <img src=" {% static 'img/shinning1.jpg' %}" alt="">
  </div>
    <div class="container" class="col-xm-12 col-sm-12 col-md-3 col-lg-3 col-xl-2" >
        <div class="section-header">
            <div class="para" id="welcx">
                <h2>ABOUT MCC</h2>
               11 years upto now, Mukumba Ceilings has successfully expanded its operation .
               Since our establishement in 2008,  Mukumba Ceilings has established and grown to be a diverse company providing local and national clients with high quality products and excellent workmanship.
               
               
               Mukumba Ceilings offers a complete range of products for skimmed ceiling material and all other accessories.
              
               We are also experts on using any kind of materials for backslashing,ceilings and walls shinning.
               
                <h2>What do we do?</h2><br>
                We specialise in the nationwide construction and designs of all types of ceilings,skimming and general maintanance. 
                <br>
                <h2>Where are we?</h2><br>
                Based at Avondale West in the Harare we are strategically located so we can reach EVERYWHERE.
                <br>
                <h2>Are we good?</h2><br>
                Good? Okay we get it, you must be a new customer. But wait just see our work by clicking on our projects gallery. You will find you answer there.
                <br>
                <h2>Why are you so good?</h2><br>
                PRICE – and this is the biggy, we are simply prepared to work on very small profit margins so we can sell our products cheaper than anyone else.
                
                LOCATION – We’re in the Harare CBD, we’re close to EVERYWHERE in Zimbabwe. We are not bounded by any barrier, we reach every location
                <br>
                INDEPENDENT – We’re 100% independent. We’re not part owned by, affiliated to or tied to any specific manufacturer. Hence, we will always offer the best value for money solution.
                <br>
                HISTORY – We’ve been in suspended ceilings since the mid 1950’s. We were literally involved when suspended ceilings first arrived from America. We think, but it is hard to clarify, that we are the oldest suspended ceiling firm still trading in the UK.
                <br>
                EXPERT ADVICE – the combination of our long history and stocking all the major manufacturers really does give us an unrivalled product knowledge. We know and understand suspended ceilings better than anyone else.
                       
            </div>
        </div>
          

            </div>
      
            <div class="container" id="email-about">

                <h1 >Thank you so much</h1>
                <p style="color: #222222; margin-top: 10px"><i>If you have anything to say about our work.
                    Dont hesitate, please let us know through our email
                </i> </p>
             
                <form action="about" method="post">
                    {% csrf_token%}
                    <label for="name">Full Name<span class="required">*</span></label>
                    {{form.contact_name}}
                    <label for="name">Email Address <span class="required">*</span></label>
                    {{form.contact_email}}
                    <label for="name">Comment<span class="required">*</span></label>
                    {{form.contact_message}}
                   
                    <div class="col-sm-12 bottommargin_0">
                      <div class="contact-form-submit topmargin_10"> <button type="submit" id="contact_form_submit" name="contact_submit"  size="30" class="theme_button color1 wide_button margin_0" bgcolor='teal'>Submit Comment
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

                      </button> </div>
                    </div>
         
                </form>
                {% for message in messages %} 
                {{message}}
                {% endfor%}
            </div>
           </div>
    </section>
   {% endblock %}

</body>



