{% extends 'base.html'%}
{% load static %} 
{% load i18n %}
{% block head_title %}{% trans "Home| M..C..C" %}{% endblock %}
<body id="body"> 
  {% block content %}
  <section class="intro_section page_mainslider ds">
    <div class="flexslider" data-dots="true" data-nav="te">
        <ul class="slides">
            <li> <img src="{% static 'img/picz/nicepicboys.jpg' %}"  alt="one">
                <div class="container">
                    <div class="row">
 
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                    
                                      <h2  style=" font-size: 50px;
                                      ">CEILINGS</h2>
                                         </div>
                                   
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p style="font-size: 30px; color: chocolate"> The beauty of your home or office is all that matters. As Mukumba Ceilings we are committed to making your resting and working enviroments look Much More Great.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src=" {% static 'img/shinning1.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                     
                                          <h2 style="background-color:transparent; color:  #444444; font-size: 50px;
                                          ">SHINNING</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p style="font-size: 30px;  color: chocolate">Walls that are shinned have a unique look and that makes a home feels like Home.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src="{% static 'img/picz/frame.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                      
                                            <h2 style="background-color:transparent; color:  #444444; font-size: 50px;
                                            ">FRAMMING</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p  style="font-size: 30px; color: chocolate">Our main goal here is to ensure that your beautiful ceilings is attached to a strong frame that guarantees Long Life with no cracks</strong>.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
        </ul>
    </div>
    <section id="about" class="ds ms page_about parallax section_padding_top_130 section_padding_bottom_75 table_section table_section_md columns_margin_bottom_30">
        {% if messages %}
        {% for message in messages %} 
        <h4 style="color: green;">{{message}}</h4>
        {% endfor%}
        {% endif%}
        <div class="container">
            <div class="intro-image padding " >
                <div class="col-md-12 col-lg-6 para" id="mywelcs" >
                  <h4>What do we offer at <a href="/" class="scrollto"><span>..</span>M<span>..</span>C<span>..</span>C</a> </h4>
                  <ul>
                    <li><a href="#"><h4>Ceilings </h4></a>
                        <br>
                        General repairs and maintenance
                        <br>
                        We can help you to plan your project from start to finish
                    </li>
                    <li><a href="#"><h4>Skimming</h4></a><br>
                    We guarantees quality using materials such as rhinost,rhnolite and many more</li>
                    <li><a href="#"><h4>Framming</h4></a><br>
                    Before we installs your ceilings, we make sure that its hanged to a strong frame</li>
                
                  </ul></li>
                </div>
        
                <div class="col-lg-12"> 
                    <img src="{% static 'img\picz\roundnice.jpg' %}" alt="" class="image-fluid"> </div>
             </div>
        
           <div class="para" id="welcx">
           <h2>MCC: bibliography</h2>
           11 years upto now, Mukumba Ceilings has successfully expanded its operation .
           Since our establishement in 2008,  Mukumba Ceilings has established and grown to be a diverse company providing local and national clients with high quality products and excellent workmanship.
           
           
           Mukumba Ceilings offers a complete range of products for skimmed ceiling material and all other accessories.
          
           We are also experts on using any kind of materials for backslashing,ceilings and walls shinning.
           
            <h2>What do we do?</h2><br>
            We specialise in the nationwide construction and designs of all types of ceilings,skimming and general maintanance. 
            <br>
            <h2>Where are we?</h2><br>
            Based at Avondale West in the Harare we are strategically located so we can reach EVERYWHERE.
            <br>
            <h2>Are we good?</h2><br>
            Good? Okay we get it, you must be a new customer. But wait just see our work by clicking on our projects gallery. You will find you answer there.
            <br>
            <h2>Why are you so good?</h2><br>
          <span>PRICE </span>  – and this is the biggy, we are simply prepared to work on very small profit margins so we can sell our products cheaper than anyone else.
            <br>
            <span>LOCATION </span> – We’re in the Harare CBD, we’re close to EVERYWHERE in Zimbabwe. We are not bounded by any barrier, we reach every location
            <br>
            <span>INDEPENDENT </span>  – We’re 100% independent. We’re not part owned by, affiliated to or tied to any specific manufacturer. Hence, we will always offer the best value for money solution.
            <br>
            <span>HISTORY</span> – We’ve been in suspended ceilings since the mid 1950’s. We were literally involved when suspended ceilings first arrived from America. We think, but it is hard to clarify, that we are the oldest suspended ceiling firm still trading in the UK.
            <br>
            <span>EXPERT ADVICE </span> – the combination of our long history and stocking all the major manufacturers really does give us an unrivalled product knowledge. We know and understand suspended ceilings better than anyone else.
                   
        </div>
    </div>
    
</div>
    </section>
   {% endblock %}

</body>



