{% extends 'base.html'%}
{% load i18n %}
{% block head_title %}{% trans "M..C..C|Privacy Policy" %}{% endblock %}
{% load static %} 

<body id="body"> 
  {% block content %}
  <section class="intro_section page_mainslider ds">
    <div class="flexslider" >
        <ul class="slides">
            <li> <img src="{% static 'img/picz/nicepicboys.jpg' %}"  alt="one">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                      
                                      <h2  style=" font-size: 50px;
                                      color:chocolate">Privacy Policy</h2>
                                         </div>

                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p style="color: blue;"> All you need to kknow about Mukumba Ceilings Company, is 
                                            presented to you here. You can also make your quick quotations about
                                            your projects here
                                        </p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            
        </ul>
    </div>
  
            <div class="para" id="welcx">
                <div class="welc">
                    <h1>Welcome to <a href="/" class="scrollto"><span>Mukumba ...Ceilings ...Company</span></a> </h1>
                    Mukumba Ceilings provides proffessional ceiling designs for home and offices. We offer our services at a reasonably very low prices, so come let's talk.
                    
                </div>
              
                <h2>Mukumba Ceilings Company</h2>
                    11 years upto now, Mukumba Ceilings has successfully expanded its operation .
                    Since our establishement in 2008,  Mukumba Ceilings has established and grown to be a diverse company providing local and national clients with high quality products and excellent workmanship.
                    
                    
                    Mukumba Ceilings offers a complete range of products for skimmed ceiling material and all other accessories.
                   
                    We are also experts on using any kind of materials for backslashing,ceilings and walls shinning.
                    
               
               
                 <h2>What do we do?</h2><br>
                 We specialise in the nationwide construction and designs of all types of ceilings,skimming and general maintanance. 
                 <br>
                 <h2>Where are we?</h2><br>
                 Based at Avondale West in the Harare we are strategically located so we can reach EVERYWHERE.
                 <br>
                 <h2>Are we good?</h2><br>
                 Good? Okay we get it, you must be a new customer. But wait just see our work by clicking on our projects gallery. You will find you answer there.
                 <br>
                 <h2>Why are you should try MCC?</h2><br>
                 <span>PRICE </span>  – and this is the biggy, we are simply prepared to work on very small profit margins so we can sell our products cheaper than anyone else.
            <br>
            <span>LOCATION </span> – We’re in the Harare CBD, we’re close to EVERYWHERE in Zimbabwe. We are not bounded by any barrier, we reach every location
            <br>
            <span>INDEPENDENT </span>  – We’re 100% independent. We’re not part owned by, affiliated to or tied to any specific manufacturer. Hence, we will always offer the best value for money solution.
            <br>
            <span>HISTORY</span> – We’ve been in ceilings industry since 2008.
            
             </div>
  
         
     
          

            </div>
            <div class="para" id="welcx">
                <h2 class="mission" id="our_mission">Our mission</h2>
                <div class="container" id="miss">
                 As one of the Ceiling Companies in Zimbabwe, our core values are to serve our customers with 
                 the best services as they need. We assure quality and consistence in doing our  work so as to keep 
                 our customers happy, since we are commited to deliver quality of services. <br> <br>   
                 We aim to archive our vision by 
                 <ul>
                     Listening, understanding and following customer needs and markets trends  and continuously
                     innovating new ways of doing business.
                      <br>
                      Offering efficient and effective service to individuals, Non governmental organizations
                      and all business sectors
                      <br>
                      Becoming a premier service provider in the ceiling industry both locally and globally
                      <br>

                 </ul>
                </div>
                  </div>
            <div class="container para" id=welcx>

                <h2 >Reach us for a QUICK quotation TODAY</h2>
                <p style="color: chocolate; margin-top: 10px"><i>If you have anything to say about our work.
                    Dont hesitate, please let us know through our email
                </i> </p>
             
                <form action="about" method="post">
                    {% csrf_token%}
                    <label for="name">Full Name<span class="required">*</span></label>
                    {{form.contact_name}}
                    <label for="name">Email Address <span class="required">*</span></label>
                    {{form.contact_email}}
                    <label for="name">Quotation<span class="required">*</span></label>
                    {{form.contact_message}}
                   
                    <div class="col-sm-12 bottommargin_0">
                      <div class=" topmargin_10"> <button type="submit" id="contact_form_submit" name="contact_submit"  size="30" class="theme_button color1 wide_button margin_0" bgcolor='teal'>Submit
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

                      </button> </div>
                    </div>
         
                </form>
                {% for message in messages %} 
                {{message}}
                {% endfor%}
            </div>
           </div>
           <hr>
          
    </section>
   {% endblock %}

</body>



