{% extends 'base.html'%}
{% load static %} 
{% load i18n %}
{% block head_title %}{% trans "M..C..C|Services" %}{% endblock %}
<body id="body"> 
  {% block content %}
  <section class="intro_section page_mainslider ds">
    <div class="flexslider" data-dots="true" data-nav="te">
        <ul class="slides">
            <li> <img src="{% static 'img/picz/nicepicboys.jpg' %}"  alt="one">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                      
                                      <h2  style=" font-size: 50px;
                                      ">CEILINGS</h2>
                                         </div>
                                   
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p > The beauty of your home or office is all that matters. As Mukumba Ceilings we are committed to making your resting and working enviroments look Much More Great.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src=" {% static 'img/shinning1.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                     
                                          <h2 style="background-color:transparent; color:  #444444; font-size: 50px;
                                          ">SHINNING</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p  style="color:#222222;">Walls that are shinned have a unique look and that makes a home feels like Home.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src="{% static 'img/picz/frame.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                      
                                            <h2 style="background-color:transparent; color:  #444444; font-size: 50px;
                                            ">FRAMMING</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p  style="color:#222222;">Our main goal here is to ensure that your beautiful ceilings is attached to a strong frame that guarantees Long Life with no cracks</strong>.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
        </ul>
    </div>
   
    </section>
    <div class="container" class="col-xm-12 col-sm-12 col-md-3 col-lg-3 col-xl-2" >
        <div class="section-header">
            <div class="para" id="welcx">
                <h1>Our services</h1>
                <h2>Ceilings</h2><br>
               11 years upto now, Mukumba Ceilings has successfully expanded its operation .
               Since our establishement in 2008,  Mukumba Ceilings has established and grown to be a diverse company providing local and national clients with high quality products and excellent workmanship.
               
               <h2>Framming</h2><br>              
                Mukumba Ceilings offers a complete range of products for skimmed ceiling material and all other accessories.
              
               We are also experts on using any kind of materials for backslashing,ceilings and walls shinning.
               
                <h2>Shinning<h2><br>
                We specialise in the nationwide construction and designs of all types of ceilings,skimming and general maintanance. 
                <br>
               
            </div>
        </div>
          

            </div>
   {% endblock %}

</body>



