{% extends 'base.html'%}
{% load static %} 
{% load i18n %}
{% block head_title %}{% trans "M..C..C|Services" %}{% endblock %}
<body id="body"> 
  {% block content %}
  <section class="intro_section page_mainslider ds">
    <div class="flexslider" data-dots="true" data-nav="te">
        <ul class="slides">
            <li> <img src="{% static 'img/picz/nicepicboys.jpg' %}"  alt="one">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                      
                                      <h2  style=" font-size: 50px;
                                      ">CEILINGS</h2>
                                         </div>
                                   
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p > The beauty of your home or office is all that matters. As Mukumba Ceilings we are committed to making your resting and working enviroments look Much More Great.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src=" {% static 'img/shinning1.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                     
                                          <h2 style="background-color:transparent; color:  #444444; font-size: 50px;
                                          ">SHINNING</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p  style="color:#222222;">Walls that are shinned have a unique look and that makes a home feels like Home.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li> <img src="{% static 'img/picz/frame.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInUp">
                                      
                                            <h2 style="background-color:transparent; color:  #444444; font-size: 50px;
                                            ">FRAMMING</h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <i><p  style="color:#222222;">Our main goal here is to ensure that your beautiful ceilings is attached to a strong frame that guarantees Long Life with no cracks</strong>.</p></i>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
        </ul>
    </div>
   
    </section>
    <div class="container" class="col-xm-12 col-sm-12 col-md-3 col-lg-3 col-xl-2" >
        <div class="section-header">
            <div class="para" id="welcx">
                <h1>Our services</h1>
                We provide the products and solutions for all types of ceilings and partitions. We have access to an extensive range of ceiling and partition products and have years of experience,
                installing new ceilings and dry-walling showcased in our ceiling and partition projects gallery.               
                Mukumba Ceilings offers a complete range of products for skimmed ceiling material and all other accessories.
              
               We are also experts on using any kind of materials for backslashing,ceilings and walls shinning.
            </div>
                    <div class="container">
                        <div class="intro-image padding " >
                      
                    
                            <div class="col-lg-12"> 
                                <img src="{% static 'img\picz\roundnice.jpg' %}" alt="" class="image-fluid"> 
                            </div>
                        
                         </div>
                        
                       </div>
                    
                       <div class="para" id="welcx">
                        <h1>CEILINGS</h1>
    At Mukumba Ceilings, we provide ceiling services to all types of ceilings. It might be maintanace 
    or installation, we are experts in all types of ceilng designs. We can also use any kind of materials for ceilings
    that can be applied to all ceilings. 
    <br>
    <br>
    We provide several types of ceilings and some of the design are shown in the pictures below
    <div class="galle">
        <img src="{% static 'img\picz\roundnice.jpg' %}" alt="" class="image-fluid"> 
    </div>
    <br>
    <br>
    We did a lot of ceiling projects around Harare and we managed to attract more customers since we are a 
    growing ceiling companies in Zimbabwe. We provide our services in a good negotiated manner, that is we do exactly what our customers want. This allowed us to raise our growth trend in the past 5 years.
<br>
    <br>
    Inorder to reach us, you can just email us by completing the form below and tell us what exactly 
    that you want. We are always available and all the responses are prioritized within a period of 24 hours.
    So feel free to reach us and get to know more about our services
                    </div>
                           
        </div>
          

            </div>
   {% endblock %}

</body>



